:root {
  font-family: 'Open Sans', sans-serif;
  color-scheme: light dark;

  --background-color: #242424;
  --foreground-color: #404040;
  
  --primary-color: #b62b2b;
  --primary-accent-color: #e6bf13;

  --primary-offset-color: #7a1818;

  --secondary-color: #2c5d75;
  --secondary-accent-color: #49baae;

  --text-primary: #eff;
  --text-secondary: #95abab;
  --text-greyed: #758585;

  background-color: var(--background-color);
  color: var(--text-primary);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  #root {
    line-height: 1.8;
    padding: 4px 2rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #efefef;
  }
}

body {
  margin: 0;
  display: flex;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--text-greyed);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  margin: 2px 7px;
  padding: 2px 7px;
  outline: 1px solid transparent;
  transition: outline 0.2s linear;
  background-color: var(--secondary-color);
}

button:hover {
  outline: 1px solid var(--secondary-accent-color);
}
